.home__section {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20px;
  padding: 30px;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.home__section::-webkit-scrollbar {
  display: none;
}

.home__section .card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .home__section .card {
    width: 160px;
    height: 160px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-left: 20px;
    margin-right: -5px;
    gap: 5px;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}